header {
    background-color: var(--color-primary);
    padding: 10px 0;
    color: var(--color-accent);
    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    }
    nav li {
    margin: 0 20px;
    }
    nav a {
    text-decoration: none;
    color: var(--color-tertiary);
    }
    
.intro{
    text-align: center;
    color:var(--color-primary);
    font-size: 2em;
    padding: 10px;
    margin-left: 10%;
    font-family: sans-serif;
    width: 100%;
    justify-content: center;

}
 
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
width: 100%;
background-size: cover;
height: 100vh;
width: 100%;
position: relative;
background-color: var(--color-secondary);
justify-content: center;

}


 
img {
max-width: 100%;
}

footer {
text-align: center;
padding: 10px;
background-color: var(--color-primary);
color: var(--color-secondary);
}

.container{
    color: var(--color-primary);
}


.center {
    text-align: center;
    align-items: center;
}

:root {
    --color-primary: hsl(221, 50%, 90%);
    --color-secondary: hsl(221, 50%, 10%);
    --color-tertiary: hsl(281, 80%, 20%);
    --color-accent: hsl(161, 80%, 20%);
}
.dark {
    --color-primary: hsl(221, 50%, 10%);
    --color-secondary: hsl(221, 50%, 90%);
    --color-tertiary: hsl(281, 80%, 80%);
    --color-accent: hsl(161, 80%, 80%);
}